{% for post in paginator.posts %}
  {% include blogpost_layout.html %}
{% endfor %}
      
<nav class="pagination-container">
  <ul>
    {% if paginator.previous_page %}
        
        {% if paginator.previous_page == 1 %}
            <li style="list-style-type:none" ><a rel="prev" class="radius-button-previous" href="{{ site.url }}{{ site.baseurl }}/blog/" title="{{ site.data.language.previous_posts }}">&laquo; {{ site.data.language.previous }}</a></li>
        {% else %}
        <li style="list-style-type:none"><a rel="prev" class="radius-button-previous" href="{{ site.url }}{{ site.baseurl }}/blog/page{{ paginator.previous_page }}/" title="{{ site.data.language.previous_posts }}">&laquo; {{ site.data.language.previous }}</a></li>
        {% endif %}
        
    {% endif %}

    <li style="list-style-type:none"><div class = "page-counter">{{ paginator.page }} of {{ paginator.total_pages }}</div></li>

    {% if paginator.next_page %}
    <li style="list-style-type:none"><a rel="next" class="radius-button-next"  href="{{ site.url }}{{ site.baseurl }}/blog/page{{ paginator.next_page }}/" title="{{ site.data.language.next_posts }}">{{ site.data.language.next }} &raquo;</a></li>
    {% endif %}
  </ul>
</nav>
