---
layout: default
permalink: /about/
---
    
<section class = "main-about">
  <section class = "about-content">
    <div class = "about-title"> Who I am <hr></div>
    <div class="layout">
    <div class="layout__item layout__item--body">
      <h2>Barcelona</h2>
      <p>
        {{ site.data.about_me.row_one }}
      </p>
    </div>
    <div class="layout__item layout__item--figure">
      <img src="/assets/images/Alex_LS3Project.jpg" alt="">
    </div>
  </div>
  
  <div class="layout">
    <div class="layout__item layout__item--body">
      <h2>United States</h2>
      <p>
        {{ site.data.about_me.row_two }}
      </p>
    </div>
    <div class="layout__item layout__item--figure">
      <img src="/assets/images/Alex_MonumentValley.jpg" alt="">
    </div>
  </div>
  
  <div class="layout">
    <div class="layout__item layout__item--body">
      <h2>Hobbies</h2>
      <p>
        {{ site.data.about_me.row_three }}
      </p>
    </div>
    <div class="layout__item layout__item--figure">
      <img src="/assets/images/MaroonBellsLake.jpg" alt="">
    </div>
  </div>
  

  </section>
</section>
